*{
margin: 0px;
padding: 0px;
}

body {
    font-family:  OCR A Std, monospace;
}

header {
    background:#FFF300 ;
    height:100px ;
    width: 100%;
    text-align: center;
    border-bottom: 1px dashed black;
}

nav {
    background: #B6B6B6 ;
    height: 50px;
    border-bottom: 1px solid black;
}

nav li {
float: left;
list-style: none;
margin: 10px;
line-height: 30px ;
}

.clearfix {
    clear: both;
}

table {
    float: left;
    margin: auto;
    min-height: 500px ;
    background: #98FFEC ;
    width: 100%;
    text-align: center;
}

footer {
    background: #ABABAB ;
}
